ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#b4b3b1;
    font-size: x-large;  
    display: flex;
    justify-content: space-evenly;  
    
}
  
li {
    float: left;
}
  
li a {
    display: block;
    padding: 8px;
    text-decoration:underline;
    font-weight: bold;
    color: black;
}
body {
    background-color: hsla(36, 5%, 58%, 0.411);
}
header img {
    height: 300px;
    width: 400px;
    margin-top: 80px;
    border-radius: 20px;
}
h2 {
    font-size: x-large;
    text-align: start;
}
h3 {
    font-size: x-large;
    text-align: start;
}
h4 {
    font-size:x-large;
    text-align: start;
}
h5 {
    font-size: x-large;
    text-align: start;
}
header div {
    display: flex;
    justify-content: space-evenly;
}