ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#65be87;
    font-size: x-large;  
    display: flex;
    justify-content: space-evenly;
    border:double black;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    padding: 8px;
    text-decoration:underline greenyellow;
    font-weight: bold;
    color: black;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: hsla(140, 80%, 21%, 0.733);
}

header img {
    height: 300px;
    width: 400px;
    margin-top: 80px;
    border-radius: 20%;
    border:double greenyellow;
}

h2 {
    font-size: x-large;
    text-align: start;
}

h3 {
    font-size: x-large;
    text-align: start;
}

h4 {
    font-size:x-large;
    text-align:start;
}

h5 {
    font-size: x-large;
    text-align: start;
}

header div {
    display: flex;
    justify-content: space-evenly;
}
.newspaper {
    column-count: 3;
    margin-top: 24px;
    font-weight: bold;
    font-size: 24px;

}